/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
html {
    background: rgb(136,203,171);
    background: url("../assets/bg.jpg") no-repeat center / cover fixed ;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    color: #f99;
}

.hidden {
    opacity: 0;
    transition: ease 0.5s all;
}

.invisible {
    display: none;
}


/* Typeography General*/
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #f99;
    font-family: 'Bebas Neue', Sans-Serif;
    font-size: 3em;
}

p {
    font-size: 1.4em;
    line-height: 1.6em;
    color: #ddd;
}

/* ---- Layout Rules ---- */
main {
    margin: 20vh 0 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* scroll to top feature */
#scrolltotop-wrapper {
    position: fixed;
    bottom: 4px;
    right: 4px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#scrolltotop-wrapper:hover {
    border: 1px solid white;
}

#scrolltotop {
    background: none;
    border: none;
    color: #f99;
    text-transform: uppercase;
}

#scrolltotop:hover {
    cursor: pointer;
}


/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #f99;
}

.active > .menu__link {
    background: #f99;
    color: black;
    border-radius: 8px;
    transition: ease 0.3s all;
}

.navbar__menu .menu__link:hover {
    background: #633;
    color: #fff;
    transition: ease 0.3s all;
    border-radius: 8px;
}

/* Header Styles */
.page__header {
    background: #153944;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Responsive nav */
@media  only screen and (max-width: 600px) {
    .page__header {
        position: static;
    }
    #navbar__list {
        display: flex;
        flex-direction: column;
    }

    header li {
        text-align: center;
    }
}


/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: linear-gradient(0deg, rgba(255,50,0,.6) 0%, rgba(255,160,0,.4) 100%);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: linear-gradient(0deg, rgba(255,150,0,.6) 0%, rgba(255,50,50,.4) 100%);
    position: absolute;
    top: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}




/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.active {
    background: linear-gradient(transparent 0%, rgb(0, 0, 0, 0.7) 20%, rgb(0, 0, 0, 0.7) 80%, transparent 100%);
}

section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em)
		           rotate(-360deg);
	}
}